@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("files/Inter-Regular.woff2") format("woff2"),
    url("files/Inter-Regular.otf") format("opentype"),
    url("files/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("files/Inter-Bold.woff2") format("woff2"),
    url("files/Inter-Bold.otf") format("opentype"),
    url("files/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("files/Inter-Italic.woff2") format("woff2"),
    url("files/Inter-Italic.otf") format("opentype"),
    url("files/Inter-Italic.ttf") format("truetype");
}
