:root {
    --code-bg-dark: #D9D9D9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: JetbrainsMono, serif;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
}

p {
    margin: 0 0 1rem 0;
}

.byline {
    font-style: italic;
}

pre {
    overflow: scroll;
}

code {
    font-family: JetbrainsMono, monospace;
}

.code-container {
    border: 1px solid #787878;
    background-color: #323232;
    border-radius: 1rem 1rem 0 0;
    color: #C1C1BD;
    box-shadow: 0 0 2rem -1rem #71255D;
    margin: 1.5rem 0;
}

.code-label {
    padding: 0.5rem 1rem;
}

.code-block {
    padding: 1rem;
    margin: 0;
    font-size: 0.75rem;

    background-color: var(--code-bg-dark);
    color: var(--fg-light);
}

.code-snippet {
    background-color: var(--code-bg-dark);
    color: var(--fg-light);

    line-height: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    border-radius: 0.25rem;
    box-shadow: 0 0 2rem -1rem #71255D;
    margin: 1rem 0;
    width: 100%;
    border: 1px solid #787878;
}

.back-to-homepage-end-link {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.horizontal-rule {
    margin: 1.5rem 0;
}

footer {
    margin-top: 1rem;
}

@media (prefers-color-scheme: light) {
    img {
        border-radius: 0.25rem;
        box-shadow: 5px 5px 16px 0 #7D8686;
    }

    .code-container {
        background-color: #B9B9B3;
        color: var(--bg-dark);
        box-shadow: 5px 5px 16px 0 #7D8686;
    }

    .code-label {
        padding: 0.5rem 1rem;
    }

    .code-block {
        background-color: var(--bg-dark);
        color: var(--fg-dark);
    }

    .code-snippet {
        background-color: var(--bg-dark);
        color: var(--fg-dark);
    }
}

@media (min-aspect-ratio: 1/1.2) {
    body {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .content-container {
        width: 66%;
    }

    .code-container {
        margin: 2rem 0;
    }

    .code-block {
        font-size: 1rem;
    }
}

@media (max-aspect-ratio: 1.3/1) {
    .content-container {
        width: 100%;
    }
}
