:root {
    --bg-dark: #181818;
    --fg-dark: #B9B9B3;
    --link-dark: #56D8C9;
    --link-dark-visited: #FF81CA;
    --link-dark-active: #EFC541;

    --bg-light: #FDFAF1;
    --fg-light: #3A4D53;
    --link-light: #0049D1;
    --link-light-visited: #A30067;
    --link-light-active: #6B5306;
}

.visually-hidden {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 0;
}

:focus {
    outline: none;
}

:focus-visible {
    border: 0.2rem solid var(--link-dark-active);
    box-sizing: border-box;
    padding: 0 0.25rem
}

@supports not selector(:focus-visible) {
    :focus {
        border: 0.2rem solid var(--link-dark-active);
        box-sizing: border-box;
        padding: 0 0.25rem
    }
}

.italic {
    font-style: italic;
}

abbr {
    font-style: italic;
}

h1 {
    font-size: 1.75rem;
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.33rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

body {
    color: var(--fg-dark);
    background-color: var(--bg-dark);
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 1.25rem;
}

.horizontal-rule {
    border: none;
    border-top: 1px solid var(--fg-dark);
    height: 0;
}

a:link {
    color: var(--link-dark)
}

a:visited {
    color: var(--link-dark-visited);
}

a:active {
    color: var(--link-dark-active);
}

@media (min-aspect-ratio: 1/1.2) {
    :root {
        font-size: 1.25rem;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bg-light);
        color: var(--fg-light);
    }

    :focus-visible {
        border: 0.2rem solid var(--fg-light);
        border-radius: 0.25rem;
        box-sizing: border-box;
        padding: 0 0.25rem
    }

    @supports not selector(:focus-visible) {
        :focus {
            border: 0.2rem solid var(--fg-light);
            box-sizing: border-box;
            padding: 0 0.25rem
        }
    }

    .horizontal-rule {
        border-top: 1px solid var(--fg-light);
        height: 0;
        margin: 1.5rem 0;
    }

    a:link {
        color: var(--link-light)
    }

    a:visited {
        color: var(--link-light-visited);
    }

    a:active {
        color: var(--link-light-active);
    }
}
