body {
    margin: 0;
    padding-bottom: 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

main {
    flex-grow: 1;
}

li {
    margin-bottom: 0.75rem;
}

.horizontal-rule {
    margin: 0;
}

@media (max-aspect-ratio: 1.3/1) {
    ul {
        padding-left: 13px
    }
}