body {
    margin: 0;
    padding-bottom: 0;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer {
    /*padding: 1rem;*/
}
